@inherits LayoutComponentBase
@using MyComponents.NavMenuOffCanvas
@inject NavigationManager MyNavMan

<div class="page">
    <main>
        <div>
            <NavMenuOffCanvas isSplash=@isPageSplash() />
        </div>
        <article class="content main-content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool isPageSplash()
    {
        string uriSubstring = (MyNavMan.Uri).Substring(MyNavMan.Uri.Length - 1);
        if (uriSubstring == "/")
        {
            return true;
        }
        else
        {
            return false;
        }
    }
}