@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row px-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Sundry and Vice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Hours and Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Join the Team</a>
                </li>
            </ul>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
