<div>
    <nav class="top-row navbar sticky-top justify-content-center">
        <ul class="nav nav-tabs navButton">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="gallery">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Sundry and Vice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="hours">Hours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="join-team">Join the Team</a>
            </li>
        </ul>
    </nav>
</div>