<div>
    <nav class="top-row navbar sticky-top justify-content-center">
        <ul class="nav nav-tabs">
            <li class="nav-item navButton">
                <a class="nav-link active" aria-current="page" href="events">Events</a>
            </li>
            <li class="nav-item navButton">
                <a class="nav-link active" aria-current="page" href="gallery">Gallery</a>
            </li>

            <Dropdown>
                <DropdownToggleButton><p class="navButton">Where ya headed</p></DropdownToggleButton>
                <DropdownMenu>
                    <DropdownItem To="svi-home" Type="ButtonType.Link">SVI</DropdownItem>
                    <DropdownItem To="svc-home" Type="ButtonType.Link">SVC</DropdownItem>
                    <DropdownItem To="cs-home" Type="ButtonType.Link">Comfort Station</DropdownItem>
                </DropdownMenu>
            </Dropdown>
            <li class="nav-item navButton">
                <a class="nav-link active" aria-current="page" href="hours">Hours</a>
            </li>
            <li class="nav-item navButton">
                <a class="nav-link active" aria-current="page" href="join-team">Join the Team</a>
            </li>
        </ul>
    </nav>
</div>