@namespace MyComponents.AddCocktail
@inject CircleHospitalityContext Context
@using MyComponents.ItemTypeDropdown
@using MyComponents.IngredientList
@using System
@using System.Linq
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Components.Forms

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="container text-center">
                <EditForm Model=Context.MenuItems FormName="MenuItemForm" method="post" OnSubmit="OnPost">
                    
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="row mb-3">
                        <div class="col">
                            <label asp-for="itemName" class="form-label">Name:</label>
                        </div>

                        <div class="col">
                            @* <input type="text" asp-for="itemName" class="form-control-sm" placeholder="Item Name" /> *@
                            <InputText @bind-Value=newMenuItem.ItemName />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="description" class="form-label">Description:</label>
                        </div>
                        <div class="col">
                             <InputText @bind-Value=newMenuItem.ItemDescription />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="creatorName" class="form-label">Creator:</label>
                        </div>
                        <div class="col">
                            <InputText @bind-Value=newMenuItem.CreatorName />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Allergens:</label>
                        </div>
                        <div class="col">
                            <div class="container text-center">
                                <div class="row">
                                    <div class="col">
                                        <input id="hasDairy" class="form-check-input" type="checkbox" value="" />
                                        <label for="hasDairy" class="form-label ms-2">Has Dairy</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input id="hasEgg" class="form-check-input" type="checkbox" value="" />
                                        <label for="hasEgg" class="form-label ms-2">Has Egg</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Available at:</label>
                        </div>
                        <div class="col">
                            <div class="container text-center">
                                <div class="row">
                                    <div class="col">
                                        <input id="availSVI" class="form-check-input" type="checkbox" value="" />
                                        <label for="availSVI" class="form-label ms-2">Sundry - Indy</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input id="availSVC" class="form-check-input" type="checkbox" value="" />
                                        <label for="availSVC" class="form-label ms-2">Sundry - Cincy</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input id="availCS" class="form-check-input" type="checkbox" value="" />
                                        <label for="availCS" class="form-label ms-2">Comfort - Cincy</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Cocktail Type:</label>
                        </div>
                        <div class="col">
                            <ItemTypeDropdown />
                        </div>
                    </div>
`
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Ingredients:</label>
                        </div>
                        <div class="col">
                            <IngredientList />
                        </div>
                    </div>
                    <button>submit</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public MenuItem? newMenuItem { get; set; } = new MenuItem();
    public void OnPost()
    {
        newMenuItem.ItemTypeID = 4;
        Context.MenuItems.Add(newMenuItem);
        Context.SaveChanges();
    }
}