@namespace MyComponents.AddCocktail
@using MyComponents.ItemTypeDropdown
@using MyComponents.IngredientList
@using System
@using System.Linq

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="container text-center">
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Name:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control-sm" placeholder="Cocktail Name" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Description:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control-sm" placeholder="Yummy and nice" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Creator:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control-sm" placeholder="Creator" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Allergens:</label>
                    </div>
                    <div class="col">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col">
                                    <input class="form-check-input" type="checkbox" value="" />
                                    <label class="form-label ms-2">Has Dairy</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input class="form-check-input" type="checkbox" value="" />
                                    <label class="form-label ms-2">Has Egg</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Available at:</label>
                    </div>
                    <div class="col">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col">
                                    <input class="form-check-input" type="checkbox" value="" />
                                    <label class="form-label ms-2">Sundry - Indy</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input class="form-check-input" type="checkbox" value="" />
                                    <label class="form-label ms-2">Sundry - Cincy</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input class="form-check-input" type="checkbox" value="" />
                                    <label class="form-label ms-2">Comfort - Cincy</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Cocktail Type:</label>
                    </div>
                    <div class="col">
                        <ItemTypeDropdown />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Ingredients:</label>
                    </div>
                    <div class="col">
                        <IngredientList />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
}
