@namespace MyComponents.ItemSorter
@rendermode InteractiveServer
@using MyComponents.Menu

<button type="button" class="btn border sort-button" @onclick="() => setFilter(all)">Everything we got</button>
<button type="button" class="btn border sort-button" @onclick="() => setFilter(house)">One's we've made</button>
<button type="button" class="btn border sort-button" @onclick="() => setFilter(classic)">Ones others have made</button>
<button type="button" class="btn border sort-button" @onclick="() => setFilter(draft)">Draft cocktails</button>
<button type="button" class="btn border sort-button" @onclick="() => setFilter(beer)">Beer</button>
<button type="button" class="btn border sort-button" @onclick="() => setFilter(wine)">Wine</button>

<div>
    <CascadingValue Value="@itemType">
        <Menu locationID=respectiveLocationID/>
    </CascadingValue>
</div>

<Menu />

@code {
    [Parameter]
    public int respectiveLocationID { get; set; }

    string itemType = "all";

    string all = "all";
    string house = "house";
    string classic = "classic";
    string draft = "draft";
    string beer = "beer";
    string wine = "wine";

    public void setFilter(string filterType)
    {
        itemType = filterType;
    }
}
