@namespace MyComponents.ItemSorter
@using MyComponents.Menu

<button type="button" class="btn border sort-button">Everything we got</button>
<button type="button" class="btn border sort-button">One's we've made</button>
<button type="button" class="btn border sort-button">Ones others have made</button>
<button type="button" class="btn border sort-button">Draft cocktails</button>
<button type="button" class="btn border sort-button">Beer</button>
<button type="button" class="btn border sort-button">Wine</button>

@* <CascadingValue Name="ItemSortType" Value=itemType>
    <Menu></Menu>
</CascadingValue> *@

@code {
    // string itemType = "house";
}
