@namespace MyComponents.Menu
@rendermode InteractiveServer
@inject CircleHospitalityContext Context
@using System
@using System.Collections.Generic
@using System.Collections
@using System.Linq

@foreach (MenuItem item in Context.MenuItems)
{
    <div class="container-fluid text-center w-25 mb-3">
        <div class="border pt-3 pb-3">
            <p class="menu-item-name">@item.ItemName</p>
            <p class="menu-item-name">@item.ItemDescription</p>
            <p class="menu-item-name">@item.CreatorName</p>
        </div>
    </div>
}

@code {

}
