@namespace MyComponents.Menu
@rendermode InteractiveServer
@inject CircleHospitalityContext Context
@using System
@using System.Collections.Generic
@using System.Collections
@using System.Linq

@foreach (MenuItem item in Context.MenuItems)
{
    <p class="menu-item-name">@item.ItemName</p>
    <p class="menu-item-name">@item.ItemDescription</p>
    <p class="menu-item-name">@item.CreatorName</p>
}

@code {

}
