@namespace MyComponents.Welcome

@switch(locationID)
{
    case 1:
        {
            <h3>hey there, lovely</h3>
            break;
        }
    case 2:
        {
            <h3>hey, beautiful</h3>
            break;
        }
    case 3:
        {
            <h3>hey, cutie</h3>
            break;
        }
}

@code {
    [Parameter]
    public int locationID { get; set; }
}
