@namespace MyComponents.Welcome

<div class="menu-page-header container">
    <div class="row">
        <div class="col caveat-header">
            @switch(locationID)
            {
                case 1:
                    {
                        <h2 class="fs-1">hey there, lovely</h2>
                        break;
                    }
                case 2:
                    {
                        <h2 class="fs-1">hey, beautiful</h2>
                        break;
                    }
                case 3:
                    {
                        <h2 class="fs-1">hey, cutie</h2>
                        break;
                    }
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int locationID { get; set; }
}
