@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

html, body {
    
}

.header {
    padding-bottom: 10%;
}

.logo-row {
    padding-bottom: 10%;
}

.logo-col {
}

.caveat-header {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.background {
    overflow: hidden;
    object-fit: cover;
    width: 2500px;
    height: 100%;
}

//@include media-breakpoint-down(lg) {
//    .background {
//    }
//}

//@include media-breakpoint-up(lg) {
    //.background {
    //    display: block;
    //    overflow-y: auto;
    //}
//}