<h3>Admin</h3>

@code {
    using System.Linq
    using var dbContext = new CircleHospitalityContext
    public string sviAddy = from l in dbContext.Location
                            select LocationAddress

}