@page "/cs-home"
@using MyComponents.ItemSorter
@using MyComponents.Welcome

<PageTitle>Comfort Station</PageTitle>

<div class="container text-center">
    <Welcome locationID="3" />
    <ItemSorter respectiveLocationID=3/>
</div>