@page "/"
@namespace Pages.Home
@inject CircleHospitalityContext Context
@using System
@using System.Collections.Generic
@using System.Linq
@using MyComponents.SplashLogo
@using MyComponents.NavMenuOffCanvas

<PageTitle>Home</PageTitle>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <h1>Where ya headed, handsome?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <SplashLogo logo="SVI" link="svi-home" />
    </div>
    <div class="col">
      <SplashLogo logo="SVC" link="svc-home" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <SplashLogo logo="CS" link="cs-home" />
    </div>
  </div>
</div>

@foreach (Location location in Context.Locations)
{
    <p>@location.LocationAddress</p>
}

@code {
}