@page "/"
@namespace Pages.Home
@inject CircleHospitalityContext Context
@using System
@using System.Collections.Generic
@using System.Linq
@using MyComponents.SplashLogo
@using MyComponents.NavMenuOffCanvas

<PageTitle>Home</PageTitle>

<img class="background img-fluid position-absolute z-0" src="\assets\Aesthetic\Rosey-Baby.jpg" />

<div class="background bg-black position-absolute opacity-25 w-100 h-50 z-0"></div>

<div class="container text-center position-relative z-1">

    <div class="row">
        <div class="col header">
            <h1 class="caveat-header mt-3">Where ya headed, handsome?</h1>
        </div>
    </div>

    <div class="row pb-4">
        <div class="col">
            <SplashLogo logo="Sundry - Indy" link="svi-home" />
        </div>

        <div class="col">
            <SplashLogo logo="Sundry - Cincy" link="svc-home" />
        </div>
    </div>

    <div class="row pb-4">
        <div class="col">
            <SplashLogo logo="Comfort - Cincy" link="cs-home" />
        </div>
    </div>
</div>

<a class="position-absolute z-1 fixed-bottom" href="admin">
    admin spot
</a>

@code {
}