@page "/svc-home"
@using MyComponents.ItemSorter
@using MyComponents.Welcome

<PageTitle>SVC</PageTitle>

<div class="container text-center">
    <Welcome locationID="2" />
    <ItemSorter respectiveLocationID=2/>
</div>