@page "/svi-home"
@using MyComponents.Menu
@using MyComponents.Welcome
@using MyComponents.ItemSorter

<PageTitle>SVI</PageTitle>

<div class="container text-center">
    <Welcome locationID="1" />
    <ItemSorter respectiveLocationID=1/>
</div>

@code {

}