@page "/svi-home"
@using MyComponents.Menu
@using MyComponents.Welcome
@using MyComponents.ItemSorter

<PageTitle>SVI</PageTitle>

<div class="container text-center">
    <ItemSorter respectiveLocationID=1 />
</div>

@code {

}