@page "/svi-home"
@using MyComponents.Menu
@using MyComponents.Welcome

<div class="container text-center">
    <PageTitle>SVI</PageTitle>

    <Welcome locationID="1" />
    <Menu locationID="1"/>
</div>

@code {

}